.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f5a44;
    border-radius: 2rem;
    padding: 1rem;
}

.imagem{
    height: 450px;
    width: 800px;
}